<h1>Edit student</h1>
 
<%= form_with(model: @student) do |form| %>
 
  <p>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </p>

  <p>
    <%= form.label :last_name %><br>
    <%= form.text_field :first_name %>
  </p>

  <p>
    <%= form.label :birthday %><br>
    <%= form.text_field :birthday %>
  </p>

  <p>
    <%= form.label :year %><br>
    <%= form.text_field :year %>
  </p>

  <p>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </p>

  <p>
    <%= form.label :nickname %><br>
    <%= form.text_field :nickname %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', students_path %>