<%= form_with(model: @teacher) do |form| %>
 
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@teacher.errors.count, "error") %> prohibited
        this teacher from being added:
      </h2>
      <ul>
        <% @teacher.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :first_name  %><br>
    <%= form.text_field :first_name %>
  </p>

  <p>
    <%= form.label :last_name  %><br>
    <%= form.text_field :last_name %>
  </p>

  <p>
    <%= form.label :dream_id  %><br>
    <%= form.text_field :dream_id %>
  </p>

  <p>
    <%= form.label :email  %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :phone  %><br>
    <%= form.text_field :phone %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>