<h1>All Teachers</h1>

<%= link_to 'Add new teacher', new_teacher_path %>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Dream ID</th>
    <th>Email</th>
    <th>Phone</th>
    <th colspan="3"></th>
  </tr>
 
  <% @teachers.each do |teacher| %>
    <tr>
      <td><%= teacher.first_name %></td>
      <td><%= teacher.last_name %></td>
      <td><%= teacher.dream_id %></td>
      <td><%= teacher.email %></td>
      <td><%= teacher.phone %></td>
      <td><%= link_to 'Show', teacher_path(teacher) %></td>
      <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
      <td><%= link_to 'Destroy', teacher_path(teacher),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>